<section class="about-section" id="about-section" data-aos="fade-left" data-aos-duration="3000">
    <div class="about-content">
        <div class="about-text">
            <h1><span class="colored">01.</span> About me</h1>
            <p>
                Hello ! My name is Hamza Okutucu, a passionate 25-year-old developer who spends my free time working on exciting projects. I have a particular interest in challenging endeavors, whether it's front-end or back-end development.
            </p>
            <br>
            <p>
                In 2016, I entered in the French University Paris Diderot to pursue studies in computer science and specialize in software development. I am currently in the final year of my Master's degree in "Languages and Programming." Throughout my academic journey, I have gained a solid understanding of various technologies and theoretical concepts. Additionally, I have put my knowledge into practice through various projects, which you can explore in the project section of this website.
            </p>
            <br>
            <p>
                Here are a few technologies I've been working with recently :
            </p>
            <div class="about-technologies-list">
                <div class="about-technologies-list-left-side">
                    <p><i class="fa-solid fa-circle-chevron-right colored"></i> Angular</p>
                    <p><i class="fa-solid fa-circle-chevron-right colored"></i> Spring Boot</p>
                    <p><i class="fa-solid fa-circle-chevron-right colored"></i> TypeScript</p>
                </div>
                <div class="about-technologies-list-right-side">
                    <p><i class="fa-solid fa-circle-chevron-right colored"></i> Java</p>
                    <p><i class="fa-solid fa-circle-chevron-right colored"></i> SQL</p>
                    <p><i class="fa-solid fa-circle-chevron-right colored"></i> Docker</p>
                </div>
            </div>
        </div>
        <div class="about-pofile-picture">
            <img src="assets/pp.png" alt="Profile Picture" class="profile-image">
        </div>
    </div>
</section>