.about-section {
  height: 100vh;
  margin-left: calc((100vw / 25) * 5);
  margin-right: calc((100vw / 25) * 5);
}

.about-content {
  height: 100%;
  display: flex;
}

.about-content .about-text {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colored {
  color: #64FFDA;
}

.about-content .about-text h1 {
  font-size: min(3.5vh, 3.5vw);
  margin-bottom: 5vh;
  position: relative;
  color: #CCD6F6;
  overflow: hidden;
}

.about-content .about-text h1:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 0.1vh solid #8892B0;
}

.about-content .about-text p {
  font-size: min(2vh, 2vw);
  color: #8892B0;
  text-align: justify;
}

.about-content .about-text i {
  margin-top: 1.5vh;
}

.about-content .about-text .about-technologies-list {
  display: flex;
}

.about-content .about-text .about-technologies-list .about-technologies-list-left-side,
.about-content .about-text .about-technologies-list .about-technologies-list-right-side {
  flex: 1;
}

.about-content .about-pofile-picture {
  flex: 1;
  font-size: min(10vh, 10vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: min(35vh, 35vw);
  height: min(38vh, 38vw);
  filter: brightness(0.8) saturate(50%) hue-rotate(170deg);
  transition: filter 0.3s;
  border-radius: 50%;
}

.profile-image:hover {
  filter: none;
}

@media(max-width: 1200px) {
  .about-section {
    margin-left: calc((100vw / 25) * 4);
    margin-right: calc((100vw / 25) * 4);
  }

  .about-content {
    flex-direction: column;
    justify-content: center;
  }
}