<div class="contact left-side" data-aos="fade-right" data-aos-duration="3000">
  <ul>
    <li>
      <a href="https://github.com/hamza-okutucu" target="_blank" class="colored">
        <i class="fa-brands fa-github fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/hamza-okutucu-5a1596294/" target="_blank" class="colored">
        <i class="fa-brands fa-linkedin-in fa-2x"></i>
      </a>
    </li>
  </ul>
  <div class="vertical-line"></div>
</div>

<div class="contact right-side" data-aos="fade-left" data-aos-duration="3000">
  <ul>
    <li>
      <a href="mailto:hamza.okutucu@outlook.com" class="colored">
        <span class="vertical-text">
          <strong>hamza.okutucu@outlook.com</strong>
        </span>
      </a>
    </li>
  </ul>
  
  <div class="vertical-line"></div>
</div>