<section class="work-section" id="work-section" data-aos="fade-left" data-aos-duration="3000">
    <div class="work-content">
        <h1><span class="colored">03.</span> Some Things I've built</h1>

        <div class="project-row-style-2">
            <div class="text-block-style-2">
                <h2 class="project-title-style-2">MeloWave</h2>
                <p class="project-description-style-2">
                    MeloWave is a music streaming application.
                </p>
                <pre class="technos-style-2">Java - SpringBoot -  Angular - TypeScript</pre>
                <div class="icons-style-2">
                    <a href="https://github.com/hamza-okutucu/MeloWave-front" target="_blank" title="See the frontend code">
                        <i class="fa-brands fa-github fa"></i>
                    </a>
                    <a href="https://github.com/hamza-okutucu/MeloWave-back" target="_blank" title="See the backend code">
                        <i class="fa-brands fa-github fa"></i>
                    </a>
                    <a href="http://51.91.100.173:4200/" target="_blank" title="Play video">
                        <i class="fa-solid fa-circle-play"></i>
                    </a>
                </div>
            </div>
            <img src="assets/MeloWave.png" alt="Android GIF" class="gif">
        </div>
        
        <div class="project-row-style-1">
            <img src="assets/LineFollower.gif" alt="Line Follower" class="gif">

            <div class="text-block-style-1">
                <h2 class="project-title-style-1">Line Follower</h2>
                <p class="project-description-style-1">
                    This project is a line-following robot implemented using LEGO Mindstorms EV3. The robot is designed to follow a colored line on the ground by using color sensors and a PID controller.
                </p>
                <pre class="technos-style-1">Java - Algorithmic</pre>
                <div class="icons-style-1">
                    <a href="https://github.com/hamza-okutucu/LineFollower" target="_blank" title="See the code">
                        <i class="fa-brands fa-github fa"></i>
                    </a>
                    <a href="https://youtu.be/uK9KtqUBzLQ" target="_blank" title="Play video">
                        <i class="fa-solid fa-circle-play"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="project-row-style-2">
            <div class="text-block-style-2">
                <h2 class="project-title-style-2">Plumber</h2>
                <p class="project-description-style-2">
                    Puzzle game inspired by Plumber where you connect colored water sources on a grid using various pipes to match colors and prevent empty spaces.
                </p>
                <pre class="technos-style-2">Java - MVC Architecture</pre>
                <div class="icons-style-2">
                    <a href="https://github.com/hamza-okutucu/Plumber" target="_blank" title="See the code">
                        <i class="fa-brands fa-github fa"></i>
                    </a>
                    <a href="https://youtu.be/MJe5uOCs9qo" target="_blank" title="Play video">
                        <i class="fa-solid fa-circle-play"></i>
                    </a>
                </div>
            </div>
            <img src="assets/Plumber.gif" alt="Android GIF" class="gif">
        </div>

        <div class="project-row-style-1">
            <img src="assets/Portfolio.gif" alt="Line Follower" class="gif">

            <div class="text-block-style-1">
                <h2 class="project-title-style-1">Portfolio</h2>
                <p class="project-description-style-1">
                    This project is a website portfolio made to present my computer science projects.
                </p>
                <pre class="technos-style-1">Angular JavaScript HTML CSS</pre>
                <div class="icons-style-1">
                    <a href="https://github.com/hamza-okutucu/Portfolio" target="_blank" title="See the code">
                        <i class="fa-brands fa-github fa"></i>
                    </a>
                    <a href="https://youtu.be/H25DXu_WIV8" target="_blank" title="Play video">
                        <i class="fa-solid fa-circle-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>