<section class="work-section" id="work-section" data-aos="fade-left" data-aos-duration="3000">
    <div class="work-content">
        <h1><span class="colored">03.</span> Some Things I've built</h1>

        <div class="project-row-style-1">
            <img src="assets/android-gif.gif" alt="Android GIF" class="gif">

            <div class="text-block-style-1">
                <h2 class="project-title-style-1">Project Title 1</h2>
                <p class="project-description-style-1">
                    Description of Project 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <pre class="technos-style-1">Spring Boot   Angular   Oracle</pre>
                <div class="icons-style-1">
                    <a href="https://en.wikipedia.org/wiki/SFR" target="_blank" title="See the code">
                        <i class="fa-brands fa-github fa"></i>
                    </a>
                    <a href="https://en.wikipedia.org/wiki/SFR" target="_blank" title="Test the program">
                        <i class="fa-solid fa-circle-play"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="project-row-style-2">
            <div class="text-block-style-2">
                <h2 class="project-title-style-2">Project Title 2</h2>
                <p class="project-description-style-2">
                    Description of Project 2. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <pre class="technos-style-2">Spring Boot   Angular   Oracle</pre>
                <div class="icons-style-2">
                    <a href="https://en.wikipedia.org/wiki/SFR" target="_blank" title="See the code">
                        <i class="fa-brands fa-github fa"></i>
                    </a>
                    <a href="https://en.wikipedia.org/wiki/SFR" target="_blank" title="Test the program">
                        <i class="fa-solid fa-circle-play"></i>
                    </a>
                </div>
            </div>
            <img src="assets/android-gif.gif" alt="Android GIF" class="gif">
        </div>
    </div>
</section>