<section class="home-section">
  <div class="home-content">
    <h1 class="animate-slide-up-1">Hi, my name is</h1>
    <h2 class="animate-slide-up-2">Hamza Okutucu.</h2>
    <h2 class="animate-slide-up-3">I'm a Software Engineer.</h2>
    <p class="animate-slide-up-4">I'm a 25 years old French student at the University Paris Diderot studying computer science. I'm open to any opportunity.</p>
    <a href="#about-section" class="get-started-button animate-slide-up-5">Get started ↓</a>
  </div>
</section>